<footer class="footer">
    <div class="container">

        {% if site.footer_menu %}
        <div class="columns">
            <div class="column has-text-centered">
                <div>
                    <p><a href="https://www.rowland.harvard.edu/"><img src="{{ site.baseurl }}/img/rowland.png" width="400" alt="icons" /></a></p>
                </div>
                <div class="column has-text-centered">
                    <p>{{ site.title | escape }}</p>
                    <p>{{ site.description | escape }}</p>    
            </div>
                    <a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Report a Web Accessibility Concern</a>
            </div>
        </div>
        {% endif %}
    </div>
</footer>


