<footer class="footer">
    <div class="container">

        {% if site.footer_menu %}
        <div class="columns">
            <div class="column has-text-centered">
                <div>
                    <p><a href="https://www.qmi.ubc.ca/"><img src="{{ site.baseurl }}/img/qmi_logo.png" width="400" alt="icons" /></a></p>
                </div>
                <div class="column has-text-centered">
                    <p>{{ site.title | escape }}</p>
            </div>
            </div>
        </div>
        {% endif %}
    </div>
</footer>


